body {
    background-color: gray;
    font-family:Arial, Helvetica, sans-serif;
}
.mainContent {
    background-color: black;
    color: #ffff;
    margin-left: 50vb;
    margin-right: 50vb;
    text-align: center;
    border-style: solid;
    border-width: 15px;
    border-color: navy;
}
.mainContent a {
    color: white;
    text-decoration: none;
    font-size: 4vb;
}
p {
    margin-top: 65vb;
    margin-bottom: 0;
}