* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.info {
    color: white;
    font-family: sans-serif;
    background-color: black;
    border: solid 0.75vb navy;
    position: absolute;
    top: -10px;
    left: 165vb;
}
.switches {
    background-color: black;
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: -10px;
    right: 180vb;
    border: solid 0.75vb navy;
}
.switches a {
    color: white;
    text-decoration: none;
}

.container {
    width: 500px;
    height: 500px;
    background-color: #ccc;
    border-radius: 50%;
    border: 15px solid #dde;
    position: relative;
    overflow: hidden;
    transition: 5s;
}
.container div {
    height: 50%;
    width: 200px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    left: 135px;
}
.container .one {
    background-color: #3f51b5;
    left: 50%;
}
.container .two {
    background-color: #ff9800;
    transform: rotate(45deg);
}
.container .three {
    background-color: #e91e63;
    transform: rotate(90deg);
}
.container .four {
    background-color: #4caf50;
    transform: rotate(135deg);
}
.container .five {
    background-color: #009688;
    transform: rotate(180deg);
}
.container .six {
    background-color: #795548;
    transform: rotate(225deg);
}
.container .seven {
    background-color: #9c27b0;
    transform: rotate(270deg);
}
.container .eight {
    background-color: #f44336;
    transform: rotate(315deg);
}
.arrow {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}
.arrow::before {
    content: '\1F817';
    font-size: 50px;
}
#spin {
    position: absolute;
    top: 50vb;
    left: 98vb;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border: 8px solid #fff;
    font-weight: bold;
    font-size: 20px;
    color: #a2a2a2;
    width: 80px;
    height: 80px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
}
.win-score {
    width: 300px;
    height: 300px;
    font-size: 15px;
    text-align: center;
    background-color: black;
    color: white;
    position: absolute;
    border: solid 15px navy;
    display: none;
}
.win-score h2 {
    font-size: 40px;
}